
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*Also */
 .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
 .fileinput-button {
    position: relative;
    overflow: hidden;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css);
@import url(https://yui.yahooapis.com/pure/0.3.0/pure-min.css);

html{
  background: #222;
}
body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 1em auto;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.fa-map-marker{
  width:100%;
  font-size: 10em;
  color: #cf483e;
  text-shadow: 0 0 1px #000; 
}
button{
  box-shadow: 0 0 1px #000; 
}
.result{
  margin: 2em 2em 1em 2em;
}
.result img{
  margin-top: 1em;
  border: 1px solid #333; 
}
.fa-spinner{
  font-size: 3em;
}
span{font-size:.7em;color: #777;}

}

