body {
  background-color: rgba(141, 206, 141, 0.8);
  text-align: center;
}

#landing {
	display: inline-block;
	margin: 0 auto;
}

#landing_menu {
	display: inline-block;
	margin: 0 auto;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.link {
  background-color: rgba(0, 65, 0, 0.8);
  font-size: 2em;
  font-weight: bold;
  color: rgba(255,255,255,1);
  border-radius: 50%;
  width: 10em;
}

.circle {
    width: 10em;
    height: 12em;
    border: 0.1em solid green;
    border-radius: 100%;
    background-image: url('landing.jpg');
    background-size: contain;
    margin-left: 5em;	
}

.subtitle {
  font-size: 1em;
  text-align: center;
}

#seal {
	display: block;
	margin:auto;
}

a {
	text-decoration: none;
	color: rgba(0,0,80,1);
}

#footer {
	display:block;
	margin:auto;
}

ul {
	list-style-type: none;
	list-style-position: inside;
}

table {
	margin: auto;
}
